# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Turso Database
TURSO_DATABASE_URL=libsql://your-database.turso.io
TURSO_AUTH_TOKEN=your-auth-token

# Supabase Database
SUPABASE_DATABASE_URL=

# microcms
# MICROCMS_SERVICE_DOMAIN: ***.microcms.io の *** 部分を入力します
MICROCMS_SERVICE_DOMAIN=your-service-domain
MICROCMS_API_KEY=your-api-key
